@mixin dl-default-message {
  color: $dl-dm-color;
  font-size: $dl-dm-font-size;
  font-weight: $dl-dm-font-weight;
  margin: $dl-dm-outer-spacing;
  text-align: $dl-dm-text-align;
  text-shadow: $dl-dm-text-shadow;
  width: $dl-dm-width;
}
