@mixin dl-error-message {
  color: $dl-err-color;
  font-size: $dl-err-font-size;
  font-weight: $dl-err-font-weight;
  margin: $dl-err-outer-spacing;
  padding: $dl-err-inner-spacing;
  text-align: $dl-err-text-align;
  width: $dl-err-width;
}
