@mixin dl-remove {
  -webkit-appearance: none;
  align-items: center;
  background: $fl-rbt-background;
  border: $dl-rbt-border$dl-rbt-border;
  border-radius: $dl-rbt-border-radius;
  color: $dl-rbt-color;
  cursor: pointer;
  display: inline-flex;
  font-size: $dl-rbt-font-size;
  font-weight: $dl-rbt-font-weight;
  height: $dl-rbt-height;
  justify-content: center;
  line-height: $dl-rbt-line-height;
  margin: $dl-rbt-outer-spacing;
  padding: $dl-rbt-inner-spacing;
  text-transform: $dl-rbt-text-transform;

  &:active {
    background-color: $dl-rbt-active-background;
    border: $dl-rbt-active-border;
    color: $dl-rbt-active-color;
  }

  &:hover,
  &:focus {
    background-color: $dl-rbt-hover-background;
    border: $dl-rbt-hover-border;
    color: $dl-rbt-hover-color;
    outline: 0;
  }
}
